<launch>
 <arg name="ns" default="robot1"/>
  <rosparam file="$(find minibot_description)/config/minibot_control.yaml" command="load"/>


  <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="$(arg ns)" args="joint_state_controller HeadPanPositionController HeadTiltPositionController LHipYawPositionController LHipRollPositionController LHipPitchPositionController LKneePositionController LAnklePitchPositionController LAnkleRollPositionController  RHipYawPositionController RHipRollPositionController RHipPitchPositionController RKneePositionController RAnklePitchPositionController RAnkleRollPositionController LShoulderPitchPositionController LShoulderRollPositionController LElbowPositionController RShoulderPitchPositionController RShoulderRollPositionController RElbowPositionController --shutdown-timeout 1" />

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" ns="$(arg ns)" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
  </node>

</launch>
