<launch>
  <param name="robot_description" textfile="$(find minibot_description)/urdf/minibot.urdf" />
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find minibot_description)/urdf/minibot.urdf -urdf -model minibot -x -1.5 -y 0.0 -z 0.0" />
  <include file="$(find minibot_description)/launch/minibot_control.launch"/>

</launch>